:root {
    --primary: #296d64;
    --secondary: #195579;
    --tertiary: #e6e8e6;
    --link: #15599e;
    --link-hover: var(--link);
    --btn: var(--primary);
    --btn-hover: var(--primary);
    --btn-active: var(--primary);
    --nav-bg: var(--tertiary);
    --nav-color: var(--primary);
    --nav-hover: #d4d4d4;
    --header-bg: var(--secondary);
    --footer-bg: var(--tertiary);
    --card-bg: #efefef;
    --table-row-bg: #efefef;

    --title-color-primary: var(--primary);
    --title-color-secondary: black;
    --border-color: #d8d8d8;

    /* sizing */
    --page-max-width: 1200px;

    /* fonts */
    --body-font: arial,sans-serif;
    --heading-font: Arial, Helvetica, Geneva, sans-serif;
}

a:not(.bubble):not(.main-nav-item):not(.btn), a:not(.bubble):not(.main-nav-item):not(.btn):hover {
    text-decoration: underline !important;
}

.bubble {
    border-radius: 0 !important;
}
